<html>
	<head>
		<title> Result</title>
	</head>
		<body>
			Bitrate:<%= bitrate %> <br>
			Duration: <% duration%><br>
			Fehlermeldung <%= error %> in kb <br>
			<a href="\"> Neue Rechnung</a>
		</body>
</html>